body{
    background-image: url(../../media/2nd\ page\ illusrate.jpg);
    background-position: center;
}
#main{
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 90%;

    


}

#navbar{
    margin-top: 5%;
    margin-left: 10%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box-bar{
    
    grid-area: 2/1/2/2;
    margin-left: 10%;
}
#box1{
    height: 80vh;
    border-radius: 1em;
    border: 1px solid #c8b18c;
    margin-top: 2em;
    margin-left : 2em ;
    margin-right: 2em;
    
}

#box2{
    border: 2px dotted #c8b18c ;
    height: 94%;
    margin: 1em; 
    border-radius: 5px;
}


#contact-bar{

    background-color: #868372a1;
    grid-area: 2/2/3/3;
    margin-right: 50%;
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 10em;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}


#content{
   
    display: flex;
    flex-direction: column;
    margin: 4%;
    height: 90%;   
    
    
}

.a{
    text-decoration: none;
    border: none;
    color: #ce9d4fc2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
    font-size: 15px;
}


#heading{
    
    text-align:  center;
    font-size: 2em;
    


}

h1{
    color: #c8b18c;

}

#details{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
}











#next-page{
    
display: flex;
height: 100vh;
align-items: center;


}

#details  p{
    color: #7a6749bd;
    
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
     
    
}
img{

    height: 2em;
    width: 2em;
}



.playfair-fonts {
    font-family: "Playfair", serif;
    font-size: 2em;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style:italic;
    font-variation-settings:
      "wdth" 100;
      color: #c8b18c;
}

  .source-serif-4-fonts {
    font-family: "Source Serif 4", serif;
    font-size: x-large;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    

  }


  @media (max-width: 575.98px) {
    /* Styles for phones */

    #heading>h1{
        font-size: 1em;
    }

    #navbar{

        display: flex;
        flex-wrap: wrap;

    }
    #details>p{
        font-size: 1em;
        font-weight: bold;
    }

    #next-page>button{
        height: 40px;
        width: 100px;

    }

    #details p {
        font-size: 15px;
        margin: 0px;
    }
    
    #details{
        display: flex;
        flex-direction: column;
    }
   
    #details  p.data{
        font-size: 11px  ;
        margin-bottom: 10px;
    }

    #details  p.color{
        font-size: 12px   ;
        margin-top: 0;
    }



    

  }


  @media (min-width:576px) and ( max-width: 768px) {
    /* Styles for small devices */

    #heading>h1{
        font-size: 1em;
    }

    #navbar{

        display: flex;
        flex-wrap: wrap;

    }
    #details>p{
        font-size: 1em;
        font-weight: bold;
    }

    #next-page>button{
        height: 40px;
        width: 100px;

    }
     #details{
        display: flex;
        flex-direction: column;
    }

    #details p.source-serif-4-fonts {
        font-size: 20px;
        margin: 0px;
    }
    
    #details  p.color{
        font-size: 13px   ;
        margin-top: 0;
        margin-bottom: 3px;
    }

    #details  p.data{
        font-size: 11px  ;
        margin-bottom: 8px ;
    }

   


    

  }


  @media (min-width:769px) and ( max-width: 991px) {
    /* Styles for tablets */

    #heading>h1{
        font-size: 2em;
    }

    #navbar{

        display: flex;
        flex-wrap: wrap;

    }
    

    #next-page>button{
        height: 40px;
        width: 100px;

    }
     #details{
        display: flex;
        flex-direction: column;
    }

    #details p.source-serif-4-fonts {
     
        margin: 0px;
    }
    
    #details  p.color{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 3px;
    }

    #details  p.data{
        font-size: small;
        margin-bottom: 8px ;

    }

   


    

  }